.login {
  position: fixed;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: var(--main-border-radius);
  background-color: var(--main-white);
  box-shadow: var(--main-box-shaddow); }
  .login .login__form {
    display: flex;
    flex-direction: column; }
    .login .login__form .form__textfield {
      margin-top: 0; }
