.sps-marker {
  position: relative;
  top: -10px;
  left: -10px;
  .sps-marker__circle {
    stroke: white;
  }
  .sps-marker__circle.crash {
    stroke: gray;
  }
}

.sps-marker__popup {
  .leaflet-popup-content {
    margin: 0;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 5px;
  }
}