.port-popup {
  .leaflet-popup-content {
    margin: 0;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 5px;
  }

  .port-popup__list {
    padding: 8px;
  }
  .card-list {
    display: flex;
    flex-direction: column;
  }
}