.port-popup .leaflet-popup-content {
  margin: 0; }

.port-popup .leaflet-popup-content-wrapper {
  border-radius: 5px; }

.port-popup .port-popup__list {
  padding: 8px; }

.port-popup .card-list {
  display: flex;
  flex-direction: column; }
