@import url(../node_modules/leaflet/dist/leaflet.css);
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.css);
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css);
@import url(../node_modules/material-components-web/dist/material-components-web.min.css);
@import url(./material-icons.css);
:root {
  --main-white: #fff;
  --main-primary: #337ab7;
  --main-primary-border: #2e6da4;
  --main-primary-dark: #286090;
  --main-background: #73baf7;
  --main-box-shaddow: 0 1px 6px rgba(0, 0, 0, .3);
  --main-border-radius: 5px; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background); }
  .app .app__route {
    flex: 1 100%; }
